BattleTank/Content/StarterContent/
Additional Assets/Animal example with polymorphism.txt
Additional Assets/Funktio struktuuri.txt
Additional Assets/Lightswitch_door_ajattelu.txt
Additional Assets/TankProjectile.fbx
Additional Assets/TankProjectile.lxo
Additional Assets/TankProjectile.mtl
Additional Assets/TurretProjectile.fbx
Additional Assets/TankTurretRotation.stg
Additional Assets/Unreal and C++ tricks.txt
Additional Assets/tankaim.psd
Additional Assets/tankaim.png
